# flyctl launch added from .gitignore
# Python
**\__pycache__
**\*.pyc
**\*.pyo
**\*.pyd

# Virtual env
**\venv
**\env
**\.venv

# Environnement
**\.env

# IDEs
**\.vscode
**\.idea

# Logs
**\*.log

# OS
**\.DS_Store
**\Thumbs.db

# flyctl launch added from .venv\.gitignore
# Created by venv; see https://docs.python.org/3/library/venv.html
.venv\**\*
fly.toml
