@tailwind utilities;
@import "tailwindcss";

/* Custom styles can be added here */
body {
  background-color: #00064a;
  background-image: url("https://www.transparenttextures.com/patterns/axiom-pattern.png");
}

.text-salamou {
  color: transparent;
  -webkit-text-stroke: 2px white; /* bordure autour du texte */
}

.sectionHome {
  @apply container bg-black/50 w-350 h-150 max-sm:w-full max-xl:h-250 max-lg:h-250 mx-auto mt-20 rounded-lg outline-2 outline-offset-2 outline-blue-50 m-40 p-9 flex flex-col max-sm:flex-col lg:flex-row items-start justify-between gap-6;
}

.divText {
  @apply flex flex-col gap-6 max-w-full lg:max-w-[60%];
}

.divSalamou {
  @apply w-full items-center flex flex-col;
}

.titleSalamou {
  @apply text-9xl max-md:text-8xl max-sm:text-6xl font-bold text-left;
}

.nameSpan {
  @apply text-white flex;
}

.divDev {
  @apply mt-3 max-sm:mt-20 w-full items-center flex flex-col;
}

.subtitleCls {
  @apply text-white text-5xl max-sm:text-3xl text-left;
}

.imageAvatar {
  @apply bg-amber-50 w-80 h-80 max-sm:w-48 max-sm:h-48 rounded-full mx-auto lg:mx-0 mt-15 max-lg:-mt-30 max-sm:-mt-40 max-xl:translate-y-50;
}

.avatarImg {
  @apply w-full h-full object-cover rounded-full outline-4 outline-offset-4 outline-blue-50;
}

.buttonLink {
  @apply flex flex-wrap justify-center gap-6 mt-10;
}

.btnHome {
  @apply text-white bg-indigo-500 px-6 py-3 rounded-lg hover:bg-indigo-400 text-center;
}
