@tailwind utilities;
@import "tailwindcss";

/* Custom styles can be added here */
body {
  background-color: #00064a !important;
  background-image: url("https://www.transparenttextures.com/patterns/axiom-pattern.png");
}

.text-salamou {
  color: transparent;
  -webkit-text-stroke: 2px white; /* bordure autour du texte */
}

/*------------------------------------------------------------------------------------------*/
.contactHoverDiv {
  @apply hover:scale-102 transition-all duration-300;
}

.sectionApply {
  @apply container mx-auto mt-20 mb-20 p-6 bg-black/50 rounded-lg outline-2 outline-offset-2 outline-blue-50 flex flex-col;
}
.outlineApply {
  @apply outline-2 outline-offset-2 outline-blue-50;
}

.title {
  @apply text-6xl font-bold inline-block p-4 rounded-lg text-center;
}

.buttonDefault {
  @apply bg-blue-700 hover:bg-blue-700/90 text-white font-bold py-2 px-4 rounded mt-4;
}

.buttonLink {
  @apply flex flex-wrap justify-center gap-6 mt-30;
}

/*-----------------------------HOME-------------------------------------------------------------*/
.sectionHome {
  @apply container bg-black/50 w-350 h-150 max-sm:w-full max-sm:h-220 max-xl:h-250 max-lg:h-250 mx-auto mt-20 rounded-lg outline-2 outline-offset-2 outline-blue-50 m-40 p-9 flex flex-col max-sm:flex-col lg:flex-row  justify-between;
}

.divText {
  @apply flex flex-col gap-6 max-sm:gap-0 max-w-full lg:max-w-[60%];
}

.divSalamou {
  @apply w-full items-center flex flex-col;
}

.titleSalamou {
  @apply text-9xl max-md:text-8xl max-sm:text-6xl font-bold;
}

.nameSpan {
  @apply text-white flex;
}

.divDev {
  @apply mt-3 max-sm:mt-20 w-full items-center flex flex-col max-lg:text-center;
}

.subtitleCls {
  @apply text-white text-5xl;
}

.imageAvatar {
  @apply bg-amber-50 w-80 h-80 max-sm:w-48 max-sm:h-48 rounded-full mx-auto lg:mx-0 mt-15 max-lg:-translate-y-10 max-sm:-mt-40 max-xl:translate-y-50;
}

.avatarImg {
  @apply w-full h-full object-cover rounded-full outline-4 outline-offset-4 outline-blue-50;
}

.btnHome {
  @apply text-white w-43 h-13 rounded-lg max-sm:mt-0  max-xl:w-70 max-sm:w-40 items-center flex justify-center hover:bg-blue-700/70 outline-2 outline-offset-2 outline-blue-50 opacity-50 hover:opacity-100 hover:scale-105 transition-all duration-300;
}

.btnnav {
  @apply md:hidden bg-white p-2 rounded-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white;
}

.btnhoverhome {
  @apply hover:scale-105 hover:underline transition-all duration-300;
}

/*-----------------------------CONTACT-------------------------------------------------------------*/
.sectionContact {
  @apply text-white  w-full h-150 max-lg:h-350 flex flex-row max-lg:flex-wrap items-center justify-center  mb-20 mt-20  max-md:-mb-20 max-md:-mt-20 max-md:p-6;
}

.divForm {
  @apply bg-transparent hover:bg-blue-900 opacity-50 hover:opacity-100  w-230 h-150 p-6  flex items-center justify-center mr-4 max-md:mr-0 max-md:mb-0;
}

.divSocials {
  @apply container bg-transparent hover:bg-indigo-800 opacity-50 hover:opacity-100 w-230 h-150  max-md:h-60 max-sm:h-100  max-md:-mt-80 p-6 flex flex-col items-center justify-center;
}
